<mat-toolbar color="primary">
  <span><img src="/assets/images/logo.png" height=30 width=41></span>
  <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
  <a mat-button routerLink="/aboutus" routerLinkActive="active">About</a>
  <a mat-button routerLink="/menu" routerLinkActive="active">Menu</a>
  <a mat-button routerLink="/contactus" routerLinkActive="active">Contact</a>
  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()">Login</a>
</mat-toolbar>

<div class="container jumbotron">

  <div>
    <h1>Ristorante Con Fusion</h1>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking
      creations
      will tickle your culinary senses!</p>
  </div>
  <div>
    <img src="/assets/images/logo.png" alt="Logo">
  </div>
</div>