<mat-toolbar color="primary">
  <span><img src="/assets/images/logo.png" height=30 width=41></span>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button>About</a>
  <a mat-button routerLink="/menu">Menu</a>
  <a mat-button>Contact</a>
</mat-toolbar>

<div class="container jumbotron">

  <div>
    <h1>Ristorante Con Fusion</h1>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking
      creations
      will tickle your culinary senses!</p>
  </div>
  <div>
    <img src="/assets/images/logo.png" alt="Logo">
  </div>
</div>