<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div>
    <div>
      <h2>Contact Us</h2>
      <hr>
    </div>
  </div>

  <div>
    <h2>Location Information</h2>
    <div>
      <div>
        <h4>Our Address</h4>
        <address>
          121, Clear Water Bay Road<br>
          Clear Water Bay, Kowloon<br>
          +123 456 789<br>
          test@test.net
        </address>
        <p></p>
        <div>
          <a mat-raised-button>Call</a>
          <a mat-raised-button>Skype</a>
          <a mat-raised-button>Email</a>
        </div>
      </div>
      <div>
        <h4>Map of our Location</h4>
      </div>
    </div>
  </div>
</div>